<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
">

    <!--Proveedores de mensajes-->
    
    <bean id="StringProveedor" class="sv.edu.ufg.vistacontrolador.app.proveedormsg.impl.StringProveedor" />
    
    <bean id="PropertiesProveedor" class="sv.edu.ufg.vistacontrolador.app.proveedormsg.impl.PropertiesProveedor" />
     
    <bean id="JdbcProveedorMysql" class="sv.edu.ufg.vistacontrolador.app.proveedormsg.impl.JdbcProveedor" >
        <property name="idMensaje" value="1"/>
        <property name="url" value="jdbc:mysql://localhost:3306/alumnos?zeroDateTimeBehavior=convertToNull"/>
        <property name="user" value="alumnos"/>
        <property name="pass" value="welcome1"/>   
        <property name="query" value="select mensaje from mensajes where id=?"/> 
        <property name="driver" value="com.mysql.jdbc.Driver"/>
    </bean>   
    
    <bean id="JdbcProveedorOracle" class="sv.edu.ufg.vistacontrolador.app.proveedormsg.impl.JdbcProveedor" >
        <property name="idMensaje" value="1"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.56.101:1521:CSJDB1"/>
        <property name="user" value="freund"/>
        <property name="pass" value="welcome1"/>   
        <property name="query" value="select 'Hola Usuario: '||name||' '||lastname||' desde Oracle10g Enterprise Edition' from users where user_id=?"/> 
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
    </bean>   
    <!--Proveedores de Rendereds-->
    <bean id="RenderizadorCmd" class="sv.edu.ufg.vistacontrolador.app.renderizadormsg.impl.RenderizadorCmd">
        <property name="mensajes" ref="StringProveedor" />
    </bean>
    
    <bean id="RenderizadorGui" class="sv.edu.ufg.vistacontrolador.app.renderizadormsg.impl.RenderizadorGui">
        
        <constructor-arg ref="StringProveedor"/>
        
    </bean>
    
    <bean id="RenderizadorCmd1" class="sv.edu.ufg.vistacontrolador.app.renderizadormsg.impl.RenderizadorCmd">
        <property name="mensajes" ref="PropertiesProveedor" />
    </bean>
    
    
    <bean id="RenderizadorGui1" class="sv.edu.ufg.vistacontrolador.app.renderizadormsg.impl.RenderizadorGui">
        
        <constructor-arg ref="PropertiesProveedor"/>
        
    </bean>
    
    <bean id="RenderizadorGui2" class="sv.edu.ufg.vistacontrolador.app.renderizadormsg.impl.RenderizadorGui">
        
        <constructor-arg ref="JdbcProveedorMysql"/>
        
    </bean>
    
    
    <bean id="RenderizadorGui3" class="sv.edu.ufg.vistacontrolador.app.renderizadormsg.impl.RenderizadorGui">
        
        <constructor-arg ref="JdbcProveedorOracle"/>
        
    </bean>
    
    <bean id="RenderizadorGedit" class="sv.edu.ufg.vistacontrolador.app.renderizadormsg.impl.RenderizadorGedit">
        <property name="mensajes" ref="JdbcProveedorMysql" />
    </bean>
    
</beans>
